
{% extends 'base.html' %}

{% block title %}Персонал{% endblock %}

{% block content %}
<h1>Список сотрудников</h1>
{% if perms.constructionCompany.can_search %}
<form method="get" action="{% url 'personnel_list' %}">
{{ form.as_p }}
<button type="submit">Поиск</button>
<a style="margin-top: 10px;" href="{% url 'export_personnel_csv' %}?query={{ form.query.value }}">Экспортировать в CSV</a>
</form>
{% endif %}
<ul>
    {% for person in items %}
         <li>
            <a href="{% url 'personnel_detail' pk=person.pk %}">{{ person.full_name }}</a>
        </li>
    {% endfor %}
</ul>
{% if perms.constructionCompany.add_personnel %}
    <a class="btn" href="{% url 'personnel_new' %}">Добавить нового сотрудника</a>
{% endif %}
    
{% endblock %}  

